<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wit.mobileapp.allergyreportcard"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/alpha_a_circle_outline"
        android:label="A.R.C."
        android:roundIcon="@drawable/alpha_a_circle_outline"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"

            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".Business_Home"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>